@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}
html,body{
  height:100vh;
  width:100vw;
  overflow: hidden;
}
/* body{
  background-image: url("https://cdn.vectorstock.com/i/500p/77/01/social-media-chat-background-vector-30037701.jpg");
} */